<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs',{data:data}); %>

<body class="container justify-content-center">

<%- include('../partials/navbar.ejs',{data:data}); %>
<div style="background: url(https://i.postimg.cc/3N7wnb75/background.jpg)" class="jumbotron bg-cover text-white">
    <%- include('../partials/landing.ejs',{data:data}); %> 
</div>


<div class="content justify-content-center">
    <%- include('../partials/lovedChampions.ejs'); %>
    <%- include('../partials/hatedChampions.ejs'); %> 
        
</div>
<p>
    <h2> ProPlayer </h2>
    <%= proPlayer%>
</p>



<%- include('../partials/footer.ejs'); %> 
</body>
</html>